<header class="bg-primary pt-3 pb-5">
    <div class="container">
        <div class="row">
        <div class="col-lg-8 col-md-9 mx-auto">
            <div class="text-light">
                <div class="h1 text-center">
                    Come,
                </div>
                <div class="h2 text-center mb-5">
                    build the future with us!
                </div>
            </div>

            <div class="card mb-4">
            </div>
        </div>
        </div>
    </div>
    </header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center mt-3">We’re building a supply engine for modern businesses in Africa.</h3>
            <hr>
            <p class="text-muted">
                ProcureSwift's mission is to accelerate digital procurement across Africa. We do this in partnership with our customers, who represent some of the most forward-thinking organizations on the continent. To do this, we’re rewriting much of the fundamental infrastructure that underpins how procurement happens.
            </p>
            <p class="text-muted">
                While we’ve had significant early success, it’s still very much day 1 at ProcureSwift. We have a thrilling amount of opportunity ahead of us to quite literally transform how procurement happens across the continent. And we need your help.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            
        </div>
    </div>
</div>