<header class="bg-primary pt-3 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-9 mx-auto">
        <div class="text-light">
          <div class="h2 text-center">
            Purchase items from
          </div>
          <div class="h1 text-center mb-5">
            Amazon to Ghana
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-body">

            <%= form_with(url: "/products", method: "get", local: true) do %>
            <div class="input-group">
              <div class="input-group-prepend">
                <%= select_tag "retailer",
                               options_for_select(
                                   Product::RETAILERS.keys.map {
                                       |r| [r.to_s.titleize, r]
                                   },
                                   selected = session[:retailer] || :amazon
                               ),
                               class: 'form-control' %>
              </div>

              <%= text_field_tag :query,
                                 "",
                                 class: "form-control",
                                 placeholder: 'Search products...',
                                 autofocus: true,
                                 required: true %>

              <div class="input-group-append">
                <%= button_tag(type: "submit", id: :search, class: "btn btn-accent", data: {disable_with: 'Please wait...'}) do %>
                  <span class="fa fa-search"></span>
                <% end %>
              </div>
            </div>
            <% end %>
          </div>
        </div>


      </div>
    </div>
  </div>
</header>


<!-- Icons Grid -->
<section class="features-icons text-center py-5">
  <div class="container">
    <div class="row my-5">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex mb-3">
            <i class="fab fa-amazon fa-5x m-auto text-accent"></i>
          </div>
          <h3>Search on Amazon</h3>
          <p class="mb-0">Type name of the item you want to buy on Amazon.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex mb-3">
            <i class="fas fa-hand-holding-usd fa-5x m-auto text-accent"></i>
          </div>
          <h3>Make payment</h3>
          <p class="mb-0">Pay via card or mobile money through ProcureSwift</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex mb-3">
            <i class="fas fa-truck fa-5x m-auto fa-fw text-accent"></i>
          </div>
          <h3>We purchase & deliver</h3>
          <p class="mb-0">ProcureSwift purchases the item and delivers it to you
            in Ghana</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Testimonials -->
<section class="testimonials text-center bg-primary text-light py-5">
  <div class="container">
    <h2 class="mb-5">What people are saying...</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3 px-5" src="img/1.jpg" alt="">
          <h5>Michael E.</h5>
          <p class="font-weight-light mb-0">
            "This is fantastic! Thanks so much guys!"
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3 px-5" src="img/2.jpg" alt="">
          <h5>Fred S.</h5>
          <p class="font-weight-light mb-0">
            "Thanks so much for opening up the world to us!"
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3 px-5" src="img/3.jpg" alt="">
          <h5>Sarah W.</h5>
          <p class="font-weight-light mb-0">
            "ProcureSwift is amazing. I've been using it to ship all our agric
            products."
          </p>
        </div>
      </div>
    </div>
  </div>
</section>