---
http_interactions:
- request:
    method: get
    uri: https://api.zinc.io/v1/products/B00BKEQBI0?retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5b9f260c61c1804f47ad2f628c06fb0fff6fdb32"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "timestamp": 1584442291,
          "status": "completed",
          "feature_bullets": [
            "View notifications from email, SMS, Caller ID, calendar and your favorite apps on your wrist.",
            "Includes Pebble timeline, a chronological display of calendar and notifications",
            "Download watch faces and apps to suit your style and interests.",
            "Control music playing on iTunes, Spotify, Pandora and more.",
            "Rechargeable battery lasts 5-7 days on a single charge",
            "Compatible with both Apple (iOS 6 and higher) and Android devices (OS 4.0 and higher)",
            "The charging cable's contacts are spring loaded pins. Depress each of them and make sure that they are popping back smoothly up to the same height relative to each other."
          ],
          "title": "Pebble Smartwatch Black",
          "meta_keywords": "Pebble Smartwatch Black,Pebble Technology Corp,301BL",
          "html_product_description": "<div id=\"productDescription\" class=\"a-section a-spacing-small\">\n        \n\n\n\n\n\n  \n    \n       \n        \n          \n        <div class=\"disclaim\">\n          \n            \n            \n            \n             Color:<strong>Black</strong>\n            \n          \n          </div>\n        \n      \n    \n  \n\n\n        \n        \n     \n\t       \n     \n\n     \n\n     \n\n     \n                              \n     \n       \n        <!-- show up to 2 reviews by default -->\n        \n          \n          \n            \n              <p>Pebble 1.5 Black -Retail. </p><p><b>NOTE:</b></p>Charger has to be plugged into the corresponding port at the correct angle, and will clip on magnetically automatically into a noticeable snug fit\n                \n              \n            \n            \n          \n        \n        \n        \n      \n      \n    \n    </div>",
          "product_description": "Color:Black Pebble 1.5 Black -Retail. NOTE:Charger has to be plugged into the\ncorresponding port at the correct angle, and will clip on magnetically\nautomatically into a noticeable snug fit",
          "images": [
            "https://images-na.ssl-images-amazon.com/images/I/611f%2BHByBML.jpg",
            "https://images-na.ssl-images-amazon.com/images/I/61NUwrcWFGL.jpg",
            "https://images-na.ssl-images-amazon.com/images/I/5141Z055i0L.jpg",
            "https://images-na.ssl-images-amazon.com/images/I/61bgUgXn7-L.jpg",
            "https://images-na.ssl-images-amazon.com/images/I/51oj5MCgG9L.jpg",
            "https://images-na.ssl-images-amazon.com/images/I/61eGboFtv7L.jpg",
            "https://images-na.ssl-images-amazon.com/images/I/71oxVjELdNL.jpg"
          ],
          "main_image": "https://images-na.ssl-images-amazon.com/images/I/611f%2BHByBML.jpg",
          "product_details": [
            "Product Dimensions: 3.8 x 3 x 2.6 inches",
            "Item Weight: 1.28 ounces",
            "Shipping Weight: 5.6 ounces",
            "Domestic Shipping: Item can be shipped within U.S.",
            "International Shipping: This item is not eligible for international shipping. Learn More",
            "California residents: Click here for Proposition 65 warning",
            "Item model number: 301BL",
            "Batteries: 1 Lithium ion batteries required. (included)"
          ],
          "brand": "Pebble",
          "categories": [
            "Clothing, Shoes & Jewelry",
            "Women",
            "Watches",
            "Smartwatches"
          ],
          "package_dimensions": {
            "size": {
              "width": {
                "amount": 2.8346456664,
                "unit": "inches"
              },
              "depth": {
                "amount": 2.1259842498,
                "unit": "inches"
              },
              "length": {
                "amount": 3.7795275552,
                "unit": "inches"
              }
            },
            "weight": {
              "amount": 0.3527396192,
              "unit": "pounds"
            }
          },
          "all_variants": [
            {
              "product_id": "B00EULMBZC",
              "variant_specifics": [
                {
                  "dimension": "Color",
                  "value": "Red"
                }
              ]
            },
            {
              "product_id": "B00KX828DG",
              "variant_specifics": [
                {
                  "dimension": "Color",
                  "value": "White"
                }
              ]
            },
            {
              "product_id": "B00BKEQBI0",
              "variant_specifics": [
                {
                  "dimension": "Color",
                  "value": "Black"
                }
              ]
            },
            {
              "product_id": "B00MPPW7YU",
              "variant_specifics": [
                {
                  "dimension": "Color",
                  "value": "Pink"
                }
              ]
            }
          ],
          "tag_title": "Amazon.com: Pebble Smartwatch Black",
          "variant_specifics": [
            {
              "dimension": "Color",
              "value": "Black"
            }
          ],
          "asin": "B00BKEQBI0",
          "product_id": "B00BKEQBI0",
          "retailer": "amazon",
          "stars": 3.4,
          "review_count": 4921,
          "question_count": null,
          "fresh": false,
          "pantry": false,
          "handmade": false,
          "digital": false,
          "buyapi_hint": true,
          "customer_images": [
            "https://images-na.ssl-images-amazon.com/images/I/71oidsaSIEL.jpg",
            "https://images-na.ssl-images-amazon.com/images/I/71HAc8JroJL.jpg",
            "https://images-na.ssl-images-amazon.com/images/I/7132NGSNN6L.jpg",
            "https://images-na.ssl-images-amazon.com/images/I/31P50JcknsL.jpg",
            "https://images-na.ssl-images-amazon.com/images/I/61+t9yKM+dL.jpg",
            "https://images-na.ssl-images-amazon.com/images/I/61Wa7HQJalL.jpg",
            "https://images-na.ssl-images-amazon.com/images/I/61giOdyCg3L.jpg",
            "https://images-na.ssl-images-amazon.com/images/I/61lOquJv0zL.jpg",
            "https://images-na.ssl-images-amazon.com/images/I/61tKb2xE+yL.jpg",
            "https://images-na.ssl-images-amazon.com/images/I/61uj-TIYZpL.jpg",
            "https://images-na.ssl-images-amazon.com/images/I/71iTU-+vQEL.jpg",
            "https://images-na.ssl-images-amazon.com/images/I/61TgaBJMJLL.jpg",
            "https://images-na.ssl-images-amazon.com/images/I/716bJuxxykL.jpg",
            "https://images-na.ssl-images-amazon.com/images/I/71FNjEcErLL.jpg",
            "https://images-na.ssl-images-amazon.com/images/I/71mwBUiGqcL.jpg",
            "https://images-na.ssl-images-amazon.com/images/I/618QCPv04TL.jpg"
          ],
          "price": 8399,
          "ship_price": 0,
          "epids": [
            {
              "type": "MPN",
              "value": "301BL"
            },
            {
              "type": "EAN",
              "value": "0855906004009"
            },
            {
              "type": "UPC",
              "value": "855906004009"
            }
          ],
          "epids_map": {
            "MPN": "301BL",
            "EAN": "0855906004009",
            "UPC": "855906004009"
          }
        }
  recorded_at: Tue, 17 Mar 2020 10:51:29 GMT
- request:
    method: get
    uri: https://api.zinc.io/v1/products/B00BKEQBI0/offers?retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"47737c35a67b4f663382d764c1e966b45b59b074"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "timestamp": 1584442294,
          "status": "completed",
          "offers": [
            {
              "seller": {
                "name": "Neotail",
                "id": "A3MYCN40QC5JGU",
                "num_ratings": 254,
                "percent_positive": 73,
                "first_party": false
              },
              "coupon_discount_percent": null,
              "coupon_discount_fixed": null,
              "offer_id": "NN%2BRUvQ%2BK%2FBweVGwiSuFHTiBGpgKQkw4k04WQYOzybuIwWzXgdlFjGKhPsFg1g3A62QIOMyaddt4VY48GUNsD5xBfuPgQVj7aEb%2Fv5NO3S%2BXRdvB%2BuatAnFUoZFh2AQV5XvsEwJNmS2PPoGES3KQrWFn9YECtRRucg1OCKcjqAtakCrjmSQpxpWUnVZd79Fk",
              "price": 6493,
              "currency": "USD",
              "available": true,
              "handling_days": {
                "min": 7,
                "max": 9
              },
              "marketplace_fulfilled": false,
              "fba_badge": false,
              "prime_badge": false,
              "shipping_options": [
                {
                  "delivery_days": {
                    "min": 7,
                    "max": 9
                  },
                  "greytext": "Arrives between March 23-25.",
                  "price": 0,
                  "name": null
                }
              ],
              "condition": "Used - Very Good",
              "minimum_quantity": null,
              "prime_only": false,
              "addon": false,
              "comments": "Includes the Pebble Watch only. No USB Cable or any other accessories included. The watch is in very good condition with light scratches on the screen. It continues to work perfectly.",
              "greytext": "Arrives between March 23-25.",
              "known_greytext": true,
              "international": false,
              "expired_product_id": false,
              "asin": "B00BKEQBI0",
              "buy_box_winner": null
            },
            {
              "seller": {
                "name": "Ultimate Electronics",
                "id": "A33TFWXRO6REUH",
                "num_ratings": 6997,
                "percent_positive": 96,
                "first_party": false
              },
              "coupon_discount_percent": null,
              "coupon_discount_fixed": null,
              "offer_id": "NN%2BRUvQ%2BK%2FBweVGwiSuFHTiBGpgKQkw41FP3QJROA0TQ%2FYXJ%2BWwfhjbgnCrPVVO9iWN7bW35ea9zSmMEe%2Bexu4TQg[...]
- request:
    method: get
    uri: https://api.zinc.io/v1/search?page=1&query=%7B:query=%3E%22iphones%22,%20:retailer=%3E%22amazon%22%7D&retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ba0e2d323649eaafadca9e5a7fef35c8a83bece8"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "timestamp": 1584443333,
          "status": "completed",
          "retailer": "amazon",
          "results": [
            {
              "prime": true,
              "product_id": "B018HC6PVA",
              "title": "Blink Indoor Home Security Camera System with Motion Detection, HD Video, 2-Year Battery Life and Cloud Storage Included - 3 Camera Kit",
              "image": "https://m.media-amazon.com/images/I/61-R7o5pC0L._AC_UY218_ML3_.jpg",
              "product_details": [],
              "pantry": false,
              "num_reviews": 1784,
              "stars": 4.1,
              "fresh": false,
              "price": 18999,
              "addon": false
            },
            {
              "prime": true,
              "product_id": "B00BKEQBI0",
              "title": "Pebble Smartwatch Black",
              "image": "https://m.media-amazon.com/images/I/611f+HByBML._AC_UY218_ML3_.jpg",
              "product_details": [],
              "pantry": false,
              "num_reviews": 4921,
              "stars": 3.4,
              "fresh": false,
              "price": 8399,
              "addon": false
            },
            {
              "prime": true,
              "product_id": "B07CTP4XGW",
              "title": "ThinOptics Reading Glasses + Keychain Case | Black Frames, 1.50 Strength - Amazon Bookstore Featured Product",
              "image": "https://m.media-amazon.com/images/I/61Q7WASnq3L._AC_UY218_ML3_.jpg",
              "product_details": [],
              "pantry": false,
              "num_reviews": 35,
              "stars": 4.3,
              "fresh": false,
              "price": 1818,
              "addon": false
            }
          ],
          "showing": {
            "start": 3,
            "end": 3,
            "of": 3
          }
        }
  recorded_at: Tue, 17 Mar 2020 11:08:51 GMT
- request:
    method: get
    uri: https://api.zinc.io/v1/search?page=1&query=iphones&retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0bff633497ef3ec674f9f33bf7e6c9562e7476b0"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "time[...]
- request:
    method: get
    uri: https://api.zinc.io/v1/products/B07K8L56DR?retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b53acab44c7f29e89d5690a1d6ca49f08b216f3b"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "timestamp": [...]
- request:
    method: get
    uri: https://api.zinc.io/v1/products/B07K8L56DR/offers?retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6d10cdd812a1e9b4cdc1d7a76cf1e2536a5bc17b"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "times[...]
- request:
    method: get
    uri: https://api.zinc.io/v1/search?page=1&query=sony%20wmx1000&retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"861bb3984a5a516513b3a4555bc4bd77f25dd80d"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "timestamp": 1584444475,
          "status": "completed",
          "retailer": "amazon",
          "results": [],
          "showing": null
        }
  recorded_at: Tue, 17 Mar 2020 11:27:53 GMT
- request:
    method: get
    uri: https://api.zinc.io/v1/search?page=1&query=sony%20headphones&retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5180c5e5f7f8cb6dec26d243f500f551c13b3e5a"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
     [...]
- request:
    method: get
    uri: https://api.zinc.io/v1/products/B07G4MNFS1?retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a05340c901c8449df3c25298e9518adf5a87f247"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "timestamp": [...]
- request:
    method: get
    uri: https://api.zinc.io/v1/products/B07G4MNFS1/offers?retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"303b77012f136bbe5a2c89a9e104564222613eee"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "timestamp": 1584444500,
          "status": "completed",
          "retailer": "amazon",
          "offers": [
            {
              "seller": {
                "num_ratings": 3274,
                "percent_positive": 89,
                "feedback_bucket": "80-89%",
                "name": "unknown",
                "id": "unknown-5776188",
                "first_party": false
              },
              "num_offers_in_group": 1,
              "offer_id": "B07G4MNFS1-83175990",
              "price": 19999,
              "currency": "USD",
              "available": true,
              "handling_days": {
                "min": 0,
                "max": 0
              },
              "international": false,
              "marketplace_fulfilled": false,
              "shipping_options": [
                {
                  "price": 0,
                  "delivery_days": {
                    "min": 0,
               [...]
- request:
    method: get
    uri: https://api.zinc.io/v1/search?page=1&query=pixel%204&retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"79c8f7475a7845620a8d01cfe0593370573f411f"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ti[...]
- request:
    method: get
    uri: https://api.zinc.io/v1/products/B0824BR684?retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"04e32472f9c6b89eeb517a3203c1b7110d5f8720"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "timestamp": [...]
- request:
    method: get
    uri: https://api.zinc.io/v1/products/B0824BR684/offers?retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c7d4e6935e048024f8eaa40b02053ca1293f88a5"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "times[...]
- request:
    method: get
    uri: https://api.zinc.io/v1/products/?retailer=B0824BR684
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: "<html><title>404: Not Found</title><body>404: Not Found</body></html>"
  recorded_at: Tue, 17 Mar 2020 12:02:25 GMT
- request:
    method: get
    uri: https://api.zinc.io/v1/products/B07P8MQHSH?retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9234ac7804dec899543223b4c0c990fb33bb0d0d"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "timestamp": [...]
- request:
    method: get
    uri: https://api.zinc.io/v1/products/B07P8MQHSH/offers?retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d6874784ae2ff597b5e930d1e10262a968371207"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "times[...]
- request:
    method: get
    uri: https://api.zinc.io/v1/products/B07R7DY911?retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3655d61539d63a2f003a1de2397e2544c6c6edac"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "timestamp": 1584522413,
          "status": "completed",
          "feature_bullets": [
            "Capture stunning photos with features like night sight, portrait mode, and HDR+.",
            "Save every photo with free, unlimited storage at high quality through Google photos [1].",
            "The Google assistant is the easiest way to get things done  including screening calls.[2]",
            "Fast Charging battery delivers up to 7 hours of use with just a 15-minute charge.[3]",
            "Comes with 3 years of OS and security updates] and the custom-built Titan M chip.[5]",
            "Switch seamlessly and keep all your stuff [6]. Plus your favorite Google apps are built in."
          ],
          "title": "Google - Pixel 3a with 64GB Memory Cell Phone (Unlocked) - Just Black - G020G",
          "meta_keywords": "Google - Pixel 3a with 64GB Memory Cell Phone (Unlocked) - Just Black - G020G,Google LLC,G020G",
          "videos": [
            {
              "url": "https://d1y6jrbzotnyjg.cloudfront.net/MO0PQ/2699c5ac0546485aadc0671b58c6b6d6/V5/99ce2039ea65438a97bb018a72546a31/ShortForm-Generic-480p-16-9-1409173089793-rpcbe5.mp4?Expires=1585127113&Signature=JBNa5geFVhl~7evgqQ4kULMLllernzUTAqs28-ME7F45u2OKde~GrAqEWfrgXWFtrPUeFXjfUxLDnpu0WceupmMKFHnoQ6qjtIoVT-YUKDHrSDGj0DqnRUiQRqPQK8iY-hgaHm2EtHzPksOS5KTz98JVuzj~KSN6qr4WTi6ysGw_&Key-Pair-Id=APKAJ62XWKZ35EOVO4XA",
              "duration": "23:04",
              "vendor": "Lon.TV"
            },
            {
              "url": "https://d1y6jrbzotnyjg.cloudfront.net/UGCPR/0fe9a35d3a604b82b8a21f49238075fb/V1/c3d6a459acaa4d42bacf3a91b8e5b57f/ShortForm-Generic-480p-16-9-1409173089793-rpcbe5.mp4?Expires=1585126880&Signature=aWnkagAbDFeCRGpStyTPTfQGyNTRn8s3Xy0m8wzjtUL1LwkPyACQSp3QpXQqQP492U6QQMKP5mDDRr6wSup4haBmeNInwlmEmr~2SOg2yV3ExqoAIowjMFuUrmeMhnsvcRyAV4ZhLdkbL4NIVGmahAxSOrc3dz4bP9SEnCN0Qew_&Key-Pair-Id=APKAJ62XWKZ35EOVO4XA",
              "duration": "7:32",
  [...]
- request:
    method: get
    uri: https://api.zinc.io/v1/products/B07R7DY911/offers?retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"17a2397825e34849fb1b202ff3e1768b6e59f5a9"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "times[...]
- request:
    method: get
    uri: https://api.zinc.io/v1/search?page=1&query=free%20weights&retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f79b98027f772a6814079c94b3b341ef21f1757c"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
        [...]
- request:
    method: get
    uri: https://api.zinc.io/v1/products/B001ARYU58?retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5eb6ca0a92aed38345880650df553e1a25151b8b"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "timestamp": 1584528395,
          "status": "completed",
          "feature_bullets": [
            "Each dumbbell adjusts from 5 to 52.5 pounds; adjusts in 2.5-pound increments up to the first 25 pounds",
            "Lets you rapidly switch from one exercise to the next",
            "Combines 15 sets of weights into one, using a unique dial system",
            "Eliminates the need for multiple dumbbells cluttering your workout space",
            "Two year warranty on weight plates and parts"
          ],
          "title": "Bowflex SelectTech Adjustable Weights",
          "meta_keywords": "Bowflex SelectTech 552 Adjustable Dumbbells (Pair),Bowflex,100182",
          "related_asins": [
            "B000OC5RXE",
            "B075K5Q21K",
            "B01MA1YYG0",
            "B07PZV2HDG",
            "B01LF6X85G",
            "B00VEAH5SA",
            "B07RRSDTWJ",
            "B000A6T9I8",
            "B00COQTLNU",
            "B000BH7CB2",
            "B07TW41DHB",
            "B072QF9L9F",
            "B07YV8PP52",
            "B07X642NMZ",
            "B0756ZWKW5",
            "B07BDRWPXD",
            "B000NWTX6W",
            "B006UK9V3Q",
            "B074N5392C",
   [...]
- request:
    method: get
    uri: https://api.zinc.io/v1/products/B001ARYU58/offers?retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5bcb8fecb1fb0407192a25150f207a6c87bf35c1"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "times[...]
- request:
    method: post
    uri: http://ravesandboxapi.flutterwave.com/flwv3-pug/getpaidx/api/v2/verify
    body:
      encoding: UTF-8
      string: '{"SECKEY":"FLWSECK_TEST-c7e13d86c3473c2ec33e38f2cacc6afe-X","txref":"157_6360889625379023"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"865-KycY/NBmrFs08XQR5tT+9g"
    body:
      encoding: UTF-8
      string: '{"status":"success","message":"Tx Fetched","data":{"txid":1174490,"txref":"157_6360889625379023","flwref":"FLW-MOCK-9abe42d2f98b547182d49e3a93a8c5ae","devicefingerprint":"0366ef997031bc8245cc338b837030b8","cycle":"one-time","amount":71168,"currency":"GHS","chargedamount":71168,"appfee":2490.88,"merchantfee":0,"merchantbearsfee":1,"chargecode":"00","chargemessage":"Please
        enter the OTP sent to your mobile number 080****** and email te**@rave**.com","authmodel":"ACCESS_OTP","ip":"102.176.65.49","narration":"CARD
        Transaction ","status":"successful","vbvcode":"00","vbvmessage":"successful","authurl":"https://ravesandboxapi.flutterwave.com/mockvbvpage?ref=FLW-MOCK-9abe42d2f98b547182d49e3a93a8c5ae&code=00&message=Approved.
        Successful&receiptno=RN1584535381761","acctcode":null,"acctmessage":null,"paymenttype":"card","paymentid":"989","fraudstatus":"ok","chargetype":"normal","createdday":3,"createddayname":"WEDNESDAY","createdweek":12,"createdmonth":2,"createdmonthname":"MARCH","createdquarter":1,"createdyear":2020,"createdyearisleap":true,"createddayispublicholiday":0,"createdhour":12,"createdminute":43,"createdpmam":"pm","created":"2020-03-18T12:43:01.000Z","customerid":252568,"custphone":"0500011505","custnetworkprovider":"UNKNOWN
        PROVIDER","custname":"Anonymous customer","custemail":"ohara.invent@gmail.com","custemailprovider":"GMAIL","custcreated":"2020-01-14T20:07:18.000Z","accountid":82827,"acctbusinessname":"ProcureSwift","acctcontactperson":"Kwaku
        Boateng","acctcountry":"GH","acctbearsfeeattransactiontime":1,"acctparent":2410,"acctvpcmerchant":"N/A","acctalias":null,"acctisliveapproved":0,"orderref":"URF_1584535381686_2357735","paymentplan":null,"paymentpage":null,"raveref":"RV31584535380554EECB8057F4","amountsettledforthistransaction":68677.12,"card":{"expirymonth":"09","expiryyear":"21","cardBIN":"418742","last4digits":"4246","brand":"ACCESS
        BANK PLC DEBITCLASSIC","issuing_country":"NIGERIA NG","card_tokens":[{"embedtoken":"flw-t1nf-33cf2ec4bbc3a3c8c336ddaf59139945-m03k","shortcode":"53193","expiry":"9999999999999"}],"type":"VISA","life_time_token":"flw-t1nf-33cf2ec4bbc3a3c8c336ddaf59139945-m03k"},"meta":[]}}'
  recorded_at: Wed, 18 Mar 2020 12:43:09 GMT
- request:
    method: get
    uri: https://api.zinc.io/v1/search?page=1&query=headphones&retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fd1fbbcd0f0aca8e60dd8d4b216fd7d71afcfc87"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "t[...]
- request:
    method: get
[...]
