<style>
  .container {
    max-width: 70rem;
  }
</style>

<div class="container">

  <div class="row mt-3">


    <div class="col-lg-4">
      <%= render(partial: 'orders/costs_card', locals: { order: @order }) %>
    </div>

    <div class="col-lg-4">

      <%= render 'address_info_card' %>

    </div>

  </div>

</div>

<%= render :partial => 'application/get_shipping_modal_form', locals: { product: @product } %>