---
http_interactions:
- request:
    method: get
    uri: https://api.zinc.io/v1/products/B07P8MQHSH?retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f31f4231c3a81b333a0ef564dd02e813832a36e2"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "timestamp": 1584543867,
          "status": "completed",
          "feature_bullets": [
            "Capture the perfect shot every time, get things done with the Google Assistant,1 enjoy an all-day battery, and more.",
            "Get everyone in the picture with Group Selfiesno selfie stick required. Snap portraits like a pro with Portrait Mode. Capture smiles, not blinks, for a great photo every time.",
            "Pixel 3 comes with a battery that charges fast and wirelessly, and lasts all day. It's even smart enough to limit battery usage for the apps you don't use often to keep you going longer.",
            "Get help from the Google Assistant: reserve a table at your favorite restaurant, buy tickets, get commute times, weather info, and moreall with a simple squeeze, or just by using your voice.",
            "Screen spam, scams, and other nuisance calls. Get real-time transcription and block unwanted callers so youll never hear from them again.",
            "Search what you see with Google Lens6 to look up clothing and home decor, copy and translate text, and identify landmarks, plants, and animals.",
            "Display Type: Fhd+ Flexible Oled At 443Ppi",
            "Included Components: Usb-C Digital Earbud",
            "Operating System: Android;Chrome Os"
          ],
          "title": "Google - Pixel 3 with 64GB Memory Cell Phone (Unlocked) - Just Black",
          "meta_keywords": "Google - Pixel 3 with 64GB Memory Cell Phone (Unlocked) - Just Black,Google LLC,G013A",
          "html_product_description": "<div id=\"productDescription\" class=\"a-section a-spacing-small\">\n        \n\n\n\n\n\n  \n    \n       \n        \n          \n        <div class=\"disclaim\">\n          \n            \n            \n            \n             Color:<strong>Just Black</strong>\n            \n          \n            \n            \n            \n                &#160;|&#160;\n            \n             Size:<strong>64 GB</strong>\n            \n          \n            \n            \n            \n                &#160;|&#160;\n            \n             Style:<strong>Pixel 3</strong>\n            \n          \n            \n            \n            \n                &#160;|&#160;\n            \n             Pattern Name:<strong>Single</strong>\n  [...]
- request:
    method: get
    uri: https://api.zinc.io/v1/products/B07P8MQHSH/offers?retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b153754b8962c4891343ce9b066981b892caacc8"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "timestamp": 1584544083,
          "status": "completed",
          "retailer": "amazon",
          "offers": [
            {
              "seller": {
                "num_ratings": 1196,
                "percent_positive": 94,
                "feedback_bucket": "90-94%",
                "name": "unknown",
                "id": "unknown-5318271",
                "first_party": false
              },
              "num_offers_in_group": 1,
              "offer_id": "B07P8MQHSH-80239854",
              "price": 19997,
              "currency": "USD",
              "available": true,
              "handling_days": {
                "min": 0,
                "max": 0
              },
              "international": false,
              "marketplace_fulfilled": false,
              "shipping_options": [
                {
                  "price": 0,
                  "delivery_days": {
                    "min": 0,
                    "max": 2
                  }
                }
              ],
              "condition": "Used",
              "digital": null,
              "pantry": null
            },
            {
              "seller": {
                "num_ratings": 28,
                "percent_positive": 89,
                "feedback_bucket": "80-89%",
                "name": "unknown",
                "id": "unknown-5484247",
                "first_party": false
              },
              "num_offers_in_group": 1,
              "offer_id": "B07P8MQHSH-56887145",
              "price": 20999,
              "currency": "USD",
              "available": true,
    [...]
