---
http_interactions:
- request:
    method: get
    uri: https://api.zinc.io/v1/search?page=1&query=pixel%204&retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4d673380cca07db1873be0254c68c67fc9809390"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "timestamp": 1584622947,
          "status": "completed",
          "retailer": "amazon",
          "results": [
            {
              "prime": true,
              "product_id": "B07YMLHSM8",
              "title": "Google Pixel 4 - Just Black - 128GB - Unlocked",
              "image": "https://m.media-amazon.com/images/I/61C9GrXEp4L._AC_UY218_ML3_.jpg",
              "product_details": [],
              "pantry": false,
              "num_reviews": 47,
              "stars": 3.9,
              "fresh": false,
              "price": 64900,
              "addon": false
            },
            {
              "prime": true,
              "product_id": "B07YMG37J4",
              "title": "Google Pixel 4 XL - Just Black - 64GB - Unlocked",
              "image": "https://m.media-amazon.com/images/I/61C9GrXEp4L._AC_UY218_ML3_.jpg",
              "product_details": [],
              "pantry": false,
              "num_reviews": 179,
              "stars": 4.2,
              "fresh": false,
              "price": 64900,
              "addon": false
      [...]
