---
http_interactions:
- request:
    method: get
    uri: https://api.zinc.io/v1/search?page=1&query=pixel%204&retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e513ea6b48ae789a4be616105e9cc2a5a83451db"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "timestamp": 1584537108,
          "status": "completed",
          "retailer": "amazon",
          "results": [
            {
              "prime": true,
              "product_id": "B0824B6LQ2",
              "title": "Google Pixel 4 XL - Clearly White - 64GB - Unlocked (Renewed)",
              "image": "https://m.media-amazon.com/images/I/61D4hZNZ5jL._AC_UY218_ML3_.jpg",
              "product_details": [],
              "pantry": false,
              "num_reviews": 12,
              "stars": 2.8,
              "fresh": false,
              "price": 55995,
              "addon": false
            },
            {
              "prime": true,
              "product_id": "B07R7DY911",
              "title": "Google - Pixel 3a with 64GB Memory Cell Phone (Unlocked) - Just Black - G020G",
              "image": "https://m.media-amazon.com/images/I/81T-FKC695L._AC_UY218_ML3_.jpg",
              "product_details": [],
              "pantry": false,
              "num_reviews": 3047,
              "stars": 4.4,
              "fresh": false,
              "price": 36020,
     [...]
