---
http_interactions:
- request:
    method: get
    uri: https://api.zinc.io/v1/search?page=1&query=%7B:query=%3E%22iphone%22,%20:retailer=%3E%22amazon%22%7D&retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bb9fd3e41b6e055b4d285b246c329ee8f334abc1"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "timestamp": 1584442146,
          "status": "completed",
          "retailer": "amazon",
          "results": [
            {
              "prime": true,
              "product_id": "B07QZNQ6X6",
              "title": "iConnect By Timex Classic Square Touchscreen Smartwatch with Heart Rate, Notifications and Two-Way Bluetooth Calling",
              "image": "https://m.media-amazon.com/images/I/81HT5fnXuxL._AC_UY218_ML3_.jpg",
              "product_details": [],
              "pantry": false,
              "num_reviews": 31,
              "stars": 2.7,
              "fresh": false,
              "price": 5647,
              "addon": false
            },
            {
              "prime": true,
              "product_id": "B01FWI06EY",
              "title": "GadgetWraps 20mm Gizmo Watch Silicone Watch Band Strap with Quick Release Pins \u2013 Compatible with Gizmo Watch, Samsung, Pebble \u2013 20mm Quick Release Watch Band (Pastel Yellow, 20mm)",
              "image": "https://m.media-amazon.com/images/I/71+1-JWDnmL._AC_UY218_ML3_.jpg",
              "product_details": [],
              "pantry": false,
              "n[...]
