---
http_interactions:
- request:
    method: get
    uri: https://api.zinc.io/v1/products/B07G4MNFS1?retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c4da477f41f2c71bafcf0e5f147c89f706f9d353"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "timestamp": 1584562093,
          "status": "completed",
          "feature_bullets": [
            "Digital Noise Canceling: Industry Leading Anc Lends a Personalized, Virtually Soundproof Experience",
            "Voice Assistant: Alexa Enabled for Voice Access to Music, Information and More. Activate with a Simple Touch",
            "Quick Attention Mode: Cover the Right Ear Cup to Turn Down Your Music for Instant, Easy Conversation",
            "Smart Listening: Adjusts the Ambient Sound to Your Activity to Give You the Best Noise Cancellation",
            "Touch Controls: Control Music Tracks and Volume, Activate Your Voice Assistant and Take Phone Calls",
            "Long Battery Life: A Single Charge Provides Up to 30 Hrs of Playtime for Reliable All Day Listening",
            "Comfortable to Wear: Ergonomically Redesigned Foldable Earphones for Easy Travel / Listening Comfort",
            "In the Box: Foldable Headphone, Carry Case, Charging Cable and Audio Cable for a Wired Connection"
          ],
          "title": "Sony Noise Cancelling Headphones WH1000XM3: Wireless Bluetooth Over the Ear Headphones with Mic and Alexa voice control - Industry Leading Active Noise Cancellation - Black",
          "meta_keywords": "Sony Noise Cancelling Headphones WH1000XM3: Wireless Bluetooth Over the Ear Headphones with Mic and Alexa voice control - Industry Leading Active Noise Cancellation - Black,Sony,WH1000XM3/B",
          "videos": [
            {
              "url": "https://d1y6jrbzotnyjg.cloudfront.net/DII1K/50468b34d3e74527a25d5aad0f6e9b9e/V61/2b5b249e13cc41f2bad72229761b8e87/ShortForm-Generic-480p-16-9-1409173089793-rpcbe5.mp4?Expires=1585166677&Signature=BTfOXfNjCOVNlMv6hklCW~CdwUdly6FDR~XmuNi53m9iBol-kCiCBbgXJcysRhGJaoCkkw-wG~-AoWxuj-rYc7D0lxWtr2UBc-LGnzzAY7rb9rcEEBzMzmEBeKpChlcmR0lLdMAdTotGhQ2QTV5~-894~0xEhbix4M2zI-AnClg_&Key-Pair-Id=APKAJ62XWKZ35EOVO4XA",
              "duration": "4:37",
              "vendor": "Digital Trends"
            },
            {
              "url": "https://d1y6jrbzotnyjg.cloudfront.net/DII1K/a504ffa8a4ce4cae9d2541da9cfb46af/V1/7ed4bd68353f415588f0a9d7dce91d92/ShortForm-Generic-480p-16-9-1409173089793-rpcbe5.mp4?Expires=1585166473&Signature=BULZjYU1EjdFnrdHGDYF~hMUos5ALZIPb-7QxlG5de-8Mz2GO~E9KwOkVWi98jxYO6eoDB4pXcx2~PHZ~xYpB9g1Oah5xyoeh8cZZEu9QbbGXNZ1IL1CmrX9gudYp5g~G2RIPH~yDaJbS0FLJeQr4qKMbHgnOD9oJZXoRVWdBzc_&Key-Pair-Id=APKAJ62XWKZ35EOVO4XA",
              "duration": "9[...]
- request:
    method: get
    uri: https://api.zinc.io/v1/products/B07G4MNFS1/offers?retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5829f5131f62d80f39e3b80b92b19f8a09b9122b"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "timestamp": 1584562097,
          "status": "completed",
          "offers": [
            {
              "seller": {
                "name": "Huppins",
                "id": "AAK72K4OIWDXL",
                "num_ratings": 24942,
                "percent_positive": 100,
                "first_party": false
              },
              "coupon_discount_percent": null,
              "coupon_discount_fixed": null,
              "offer_id": "dHzDv2XLGPA1P6ApO2xFdCvx36O3fPUPFb3Hct701BVITdS630R046OxGktGpPGFs1I72q%2BJfNgIzzpN5F73tef1qVnHKEf%2B1FAi7vh8pjNVo%2Bdb4g%2BWXbi1UU8EkTypkwpdIQnVuSCgHViEz8QolRnree3ZXKIR22awIm7pbKRaLMVdc2Xb%2Fw%3D%3D",
              "price": 27800,
              "currency": "USD",
              "available": true,
              "handling_days": {
                "min": 0,
                "max": 0
              },
              "marketplace_fulfilled": true,
              "fba_badge": true,
              "prime_badge": true,
              "shipping_options": [
                {
                  "delivery_days": {
                    "min": 4,
                    "max": 4
                  },
                  "greytext": "Want it delivered Sunday, March 22? Choose Two-Day Shipping at checkout.",
                  "price": 0,
                  "name": "two-day"
                }
              ],
              "condition": "New",
              "minimum_quantity": null,
              "prime_only": false,
              "addon": false,
              "comments": null,
              "greytext": "Want it delivered Sunday, March 22?",
              "known_greytext": true,
              "international": false,
              "expired_product_id": false,
              "asin": "B07G4MNFS1",
              "buy_box_winner": null
            },
            {
              "seller": {
                "name": "GRAMOPHONE",
                "id": "A2XGE4CX5AV74X",
                "num_ratings": 4197,
                "percent_positive": 97,
                "first_party": false
              },
              "coupon_discount_percent": null,
              "coupon_discount_fixed": null,
              "offer_id": "dHzDv2XLGPA1P6ApO2xFdCvx36O3fPUPqrD1XTf2lu%2FULdgSITrdEOtAObVjxGPZp0KP%2F7uvk6b9HaEmUHzA9xEPYLqDLfoxv7q28VIV4jc[...]
- request:
    method: get
    uri: https://api.zinc.io/v1/products/B07P8MQHSH?retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"decbfbcf10d1243a5d5830216c82b81af1c9c202"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "timestamp": [...]
- request:
    method: get
    uri: https://api.zinc.io/v1/products/B07P8MQHSH/offers?retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"263231c9853a6439b95f5acf8cb206158075b171"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "timestamp": 1584562107,
          "status": "completed",
          "retailer": "amazon",
          "offers": [
            {
              "seller": {
                "num_ratings": 1197,
                "percent_positive": 94,
                "feedback_bucket": "90-94%",
                "name": "unknown",
                "id": "unknown-8095748",
                "first_party": false
              },
              "num_offers_in_group": 1,
              "offer_id": "B07P8MQHSH-13884431",
              "price": 19997,
              "currency": "USD",
              "available": true,
              "handling_days": {
                "min": 0,
                "max": 0
              },
              "international": false,
              "marketplace_fulfilled": false,
              "shipping_options": [
                {
                  "price": 0,
                  "delivery_days": {
                    "min": 0,
                    "max": 2
                  }
                }
              ],
              "condition": "Used",
              "digital": null,
              "pantry": null
            },
            {
              "seller": {
                "num_ratings": 4188299,
                "percent_positive": 79,
                "feedback_bucket": "70-79%",
                "name": "unknown",
                "id": "unknown-938501",
                "first_party": false
              },
              "num_offers_in_group": 1,
              "offer_id": "B07P8MQHSH-32929100",
              "price": 21272,
              "currency": "USD",
              "available": true,
[...]
