---
http_interactions:
- request:
    method: get
    uri: https://api.zinc.io/v1/products/B07G4MNFS1?retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"20454a6c0121d86095a07929dde3358650e27c3e"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "timestamp": 1584566284,
          "status": "completed",
          "feature_bullets": [
            "Digital Noise Canceling: Industry Leading Anc Lends a Personalized, Virtually Soundproof Experience",
            "Voice Assistant: Alexa Enabled for Voice Access to Music, Information and More. Activate with a Simple Touch",
            "Quick Attention Mode: Cover the Right Ear Cup to Turn Down Your Music for Instant, Easy Conversation",
            "Smart Listening: Adjusts the Ambient Sound to Your Activity to Give You the Best Noise Cancellation",
            "Touch Controls: Control Music Tracks and Volume, Activate Your Voice Assistant and Take Phone Calls",
            "Long Battery Life: A Single Charge Provides Up to 30 Hrs of Playtime for Reliable All Day Listening",
            "Comfortable to Wear: Ergonomically Redesigned Foldable Earphones for Easy Travel / Listening Comfort",
            "In the Box: Foldable Headphone, Carry Case, Charging Cable and Audio Cable for a Wired Connection"
          ],
          "title": "Sony Noise Cancelling Headphones WH1000XM3: Wireless Bluetooth Over the Ear Headphones with Mic and Alexa voice control - Industry Leading Active Noise Cancellation - Black",
          "meta_keywords": "Sony Noise Cancelling Headphones WH1000XM3: Wireless Bluetooth Over the Ear Headphones with Mic and Alexa voice control - Industry Leading Active Noise Cancellation - Black,Sony,WH1000XM3/B",
          "html_product_description": "<div id=\"productDescription\" class=\"a-section a-spacing-small\">\n        \n\n\n\n\n\n  \n    \n       \n        \n          \n        <div class=\"disclaim\">\n          \n            \n            \n            \n             Color:<strong>Black</strong>\n            \n          \n          </div>\n        \n      \n    \n  \n\n\n        \n        \n     \n\t       \n     \n\n     \n\n     \n\n     \n                              \n     \n       \n        <!-- show up to 2 reviews by default -->\n        \n          \n          \n            \n              <p>Sony industry-leading noise cancellation evolves to further immerse you in your music. The addition of Sony proprietary HD noise canceling processor Qn1 masterfully eliminates the noise around you. Listen all day with up to 30 hours of battery life. Quick charging gives five hours of playback with just a 10-minute charge. Cord Length: Headphone cable (approx. 3.94 ft, OFC strands, gold-plated stereo mini plug); Frequency Response: 4 Hz-40,000 Hz; NFC: Yes; Cord Type: Single-sided (detachable); Volume Sensor: Touch Sensor. Diaphragm - Aluminium-coated LCP\n                \n              </p>\n            \n            \n          \n        \n        \n        \n      \n      \n    \n    </div>",
          "product_description": "Color:Black Sony industry-leading noise cancellation evolves to further\nimmerse you in your music. The addition of Sony proprietary HD noise canceling\nprocessor Qn1 masterfully eliminates the noise around you. Listen all day with\nup to 30 hours of battery life. Quick charging gives five hours of playback\nwith just a 10-minute charge. Cord Length: Headphone cable (approx. 3.94 ft,\nOFC strands, gold-plated stereo mini plug); Frequency Response: 4 Hz-40,000\nHz; NFC: Yes; Cord Type: Single-sided (detachable); Volume Sensor: Touch\nSensor. Diaphragm - Aluminium-coated LCP",
          "related_asins": [
            "B07H2DBFQZ",
            "B07HJ87WJD",
            "B0756CYWWD",
            "B07Q9MJKBV",
            "B07HGT1PW2",
            "B079GPFLT1",
            "B07RM8WQ8G",
            "B07RMPVX1D",
            "B07H2DGZJR",
            "B0756GB78C",
            "B01E3XLNA0",
            "B07NXDPLJ9",
            "B07J9YNRWF",
            "B0117RGG8E",
            "B07RF2QP2H",
            "B074KDJVS2",
            "B07Q4QK379",
            "B019U00D7K",
            "B01MSZSL4I",
            "B07X5F81JS",
            "B07RD2LKVH",
            "B075G56GZD",
            "B075X9M9R4",
            "B07T81554H",
            "B079GV1M9Z",
            "B077YG22Y9",
            "B07LDCLP11",
            "B07ZQR9P1V",
            "B07RQ366VK",
            "B00M1NEUKK",
            "B07PGL8J8G",
            "B07HGT1DL7",
            "B07VW98ZKG",
            "B07BMQXVLB",
            "B07C6CC7TJ",
            "B07THXD9N1",
            "B00SNI44CQ",
            "B079NM341X",
            "B07TBH34XC",
            "B01MY4P9EZ",
            "B07JYMFFVR",
            "B07HKVCVSY",
            "B07RQN1575",
            "B07SQBLY94",
            "B0848TSWDF",
            "B07GYNSQBQ",
            "B07WRGZ7PF",
            "B01E3SNO1G",
            "B0756XMGV1",
            "B0844PMWP8"
          ],
          "images": [
            "https://images-na.ssl-images-amazon.com/images/I/51IdLe-%2B6kL.jpg",
            "https://images-na.ssl-images-amazon.com/images/I/51ZzMxZBq1L.jpg",
            "https://images-na.ssl-images-amazon.com/images/I/71ypiO7wJkL.jpg",
            "https://images-na.ssl-images-amazon.com/images/I/71xuqJMtvML.jpg",
            "https://images-na.ssl-images-amazon.com/images/I/618VbxytH%2BL.jpg",
            "https://images-na.ssl-images-amazon.com/images/I/71hg8x7EVLL.jpg",
            "https://images-na.ssl-images-amazon.com/images/I/71A89ieikFL.jpg",
            "https://images-na.ssl-images-amazon.com/images/I/61In%2BXcJeAL.jpg",
            "https://images-na.ssl-images-amazon.com/images/I/71cWLDwQ8rL.jpg",
            "https://images-na.ssl-images-amazon.com/images/I/71x47nS3PsL.jpg",
            "https://images-na.ssl-images-amazon.com/images/I/819SYgdrG0L.jpg",
            "https://images-na.ssl-images-amazon.com/images/I/71gWIQcJ3mL.jpg",
            "https://images-na.ssl-images-amazon.com/images/I/91z9UCv4TwL.jpg",
            "https://images-na.ssl-images-amazon.com/images/I/810WPz2ffQL.jpg",
            "https://images-na.ssl-images-amazon.com/images/I/61zd-XqzWRL.jpg",
            "https://images-na.ssl-images-amazon.com/images/I/51Q4cAkLiwL.jpg"
          ],
          "main_image": "https://images-na.ssl-images-amazon.com/images/I/51IdLe-%2B6kL.jpg",
          "product_details": [
            "Product Dimensions: 7.3 x 2.9 x 10.4 inches",
            "Item Weight: 9 ounces",
            "Shipping Weight: 1.65 pounds",
            "California residents: Click here for Proposition 65 warning",
            "Item model number: WH1000XM3/B",
            "Batteries: 1 Lithium Polymer batteries required. (included)"
          ],
          "brand": "Sony",
          "categories": [
            "Electronics",
            "Headphones",
            "Over-Ear Headphones"
          ],
          "original_retail_price": 34999,
          "package_dimensions": {
            "size": {
              "width": {
                "amount": 7.299999992554,
                "unit": "inches"
              },
              "depth": {
                "amount": 3.099999996838,
                "unit": "inches"
              },
              "length": {
                "amount": 8.799999991024,
                "unit": "inches"
              }
            },
            "weight": {
              "amount": 1.64905771976,
              "unit": "pounds"
            }
          },
          "all_variants": [
            {
              "product_id": "B07G4MNFS1",
              "variant_specifics": [
                {
                  "dimension": "Color",
                  "value": "Black"
                }
              ]
            },
            {
              "product_id": "B07G4YL6BM",
              "variant_specifics": [
                {
                  "dimension": "Color",
                  "value": "Silver"
                }
              ]
            }
          ],
          "tag_title": "Sony Noise Cancelling Headphones WH1000XM3",
          "variant_specifics": [
            {
              "dimension": "Color",
              "value": "Black"
            }
          ],
          "asin": "B07G4MNFS1",
          "product_id": "B07G4MNFS1",
          "retailer": "amazon",
          "stars": 4.6,
          "review_count": 8496,
          "question_count": null,
          "fresh": false,
          "pantry": false,
          "handmade": false,
          "digital": false,
          "buyapi_hint": true,
          "customer_images": [
            "https://images-na.ssl-images-amazon.com/images/I/619+0UFgO+L.jpg",
            "https://images-na.ssl-images-amazon.com/images/I/61DKC-5wDiL.jpg",
            "https://images-na.ssl-images-amazon.com/images/I/61u7+mvjFCL.jpg",
            "https://images-na.ssl-images-amazon.com/images/I/71AeJEgou8L.jpg",
            "https://images-na.ssl-images-amazon.com/images/I/810sUAPu68L.jpg",
            "https://images-na.ssl-images-amazon.com/images/I/81c6Rg5PX0L.jpg",
            "http[...]
- request:
    method: get
    uri: https://api.zinc.io/v1/products/B07G4MNFS1/offers?retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"58849af6743c1c085dcdda13846c06eb4809ac37"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "timestamp": 1584566289,
          "status": "completed",
          "offers": [
            {
              "seller": {
                "name": "1 SHOP DIRECT",
                "id": "A2A1PSFKVUV14G",
                "num_ratings": 4502,
                "percent_positive": 99,
                "first_party": false
              },
              "coupon_discount_percent": null,
              "coupon_discount_fixed": null,
              "offer_id": "u8nmq7ZybcsSTGVEeGzQQKzuuV7lqgIiD8AE7ZgMY6%2BXoKmc%2B%2BmmZ2A%2BGrjYkJyBcfjQo6TawzLSTO%2F3Bm%2BkMmfPsQjx0GSMd0kVh8q7%2Bm5wEHMdLedSfIoDmr4vejyr6OcBnbCkXmEDybxwKUL48T1B5bc%2BlpomILLlAGUcM%2FO1bHBhnrSOwAoKpvKWO%2B5z",
              "price": 27800,
              "currency": "USD",
              "available": true,
              "handling_days": {
                "min": 0,
                "max": 0
              },
              "marketplace_fulfilled": true,
              "fba_badge": true,
              "prime_badge": true,
              "shipping_options": [
                {
                  "delivery_days": {
                    "min": 7,
                    "max": 7
                  },
                  "greytext": "Want it delivered Wednesday, March 25? Choose Two-Day Shipping at checkout.",
                  "price": 0,
                  "name": "two-day"
                }
              ],
              "condition": "New",
              "minimum_quantity": null,
              "prime_only": false,
              "addon": false,
              "comments": null,
              "greytext": "Want it delivered Wednesday, March 25?",
              "known_greytext": true,
              "international": false,
              "expired_product_id": false,
              "asin": "B07G4MNFS1",
              "buy_box_winner": null
            },
            {
              "seller": {
                "name": "Audio Advice Online",
                "id": "A17IVE6SUAZA2P",
                "num_ratings": 1451,
                "percent_positive": 98,
                "first_party": false
              },
              "coupon_discount_percent": null,
              "coupon_discount_fixed": null,
              "offer_id": "u8nmq7ZybcsSTGVEeGzQQKzuuV7lqgIivhAXMHv8hkGIEoV0FDfMdlAbR5P1hwtbyMkhcyjx0arMftsFL32YnA7Y9PO8Z1xaKPv7%2[...]
- request:
    method: get
    uri: https://api.zinc.io/v1/products/B07P8MQHSH?retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"85ca4553c97d51ef59b30a79c05d218b7583893d"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "timestamp": [...]
- request:
    method: get
    uri: https://api.zinc.io/v1/products/B07P8MQHSH/offers?retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6a87f6dd1496de1cf55e2d0d5d5a92272d9c4a2a"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "times[...]
