---
http_interactions:
- request:
    method: get
    uri: https://api.zinc.io/v1/products/B07G4MNFS1?retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f84baccb7b603c79adaab42a30a93362d943d462"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "timestamp": 1584560402,
          "status": "completed",
          "feature_bullets": [
            "Digital Noise Canceling: Industry Leading Anc Lends a Personalized, Virtually Soundproof Experience",
            "Voice Assistant: Alexa Enabled for Voice Access to Music, Information and More. Activate with a Simple Touch",
            "Quick Attention Mode: Cover the Right Ear Cup to Turn Down Your Music for Instant, Easy Conversation",
            "Smart Listening: Adjusts the Ambient Sound to Your Activity to Give You the Best Noise Cancellation",
            "Touch Controls: Control Music Tracks and Volume, Activate Your Voice Assistant and Take Phone Calls",
            "Long Battery Life: A Single Charge Provides Up to 30 Hrs of Playtime for Reliable All Day Listening",
            "Comfortable to Wear: Ergonomically Redesigned Foldable Earphones for Easy Travel / Listening Comfort",
            "In the Box: Foldable Headphone, Carry Case, Charging Cable and Audio Cable for a Wired Connection"
          ],
          "title": "Sony Noise Cancelling Headphones WH1000XM3: Wireless Bluetooth Over the Ear Headphones with Mic and Alexa voice control - Industry Leading Active Noise Cancellation - Black",
          "meta_keywords": "Sony Noise Cancelling Headphones WH1000XM3: Wireless Bluetooth Over the Ear Headphones with Mic and Alexa voice control - Industry Leading Active Noise Cancellation - Black,Sony,WH1000XM3/B",
          "videos": [
            {
              "url": "https://d1y6jrbzotnyjg.cloudfront.net/DII1K/50468b34d3e74527a25d5aad0f6e9b9e/V61/2b5b249e13cc41f2bad72229761b8e87/ShortForm-Generic-480p-16-9-1409173089793-rpcbe5.mp4?Expires=1585164861&Signature=HOlRHE9lLu-F8MW2by1O4s0ohjBz14r2sprvMmWwnEdI53IXUPuaNxT-df91lsk3FbIUA9KcJEyvSp2WWEIxDuHMyd9E~qgVgp3uJ6HCmeJcEE0baOGX8IxjE24MJU1g-Nl-nyDh7MRkbR~AmbhE-LrVmr-nUBEIUAg2SE5v0E4_&Key-Pair-Id=APKAJ62XWKZ35EOVO4XA",
              "duration": "4:37",
              "vendor": "Digital Trends"
            },
            {
              "url": "https://d1y6jrbzotnyjg.cloudfront.net/DII1K/a504ffa8a4ce4cae9d2541da9cfb46af/V1/7ed4bd68353f415588f0a9d7dce91d92/ShortForm-Generic-480p-16-9-1409173089793-rpcbe5.mp4?Expires=1585164667&Signature=B0lSwbm1qyFXAllCca2XCPyLqZP-3tYbcAnwGZKsBYdlFWYclxCrZIOxh5NA2-7v-G5ZxQ6KE5kAYxhFcJ~pI~ze9WQrw~y7uhtTeswJkzj1nWt48WpNli6y48xL-uD1fRtvQe9a~0w8v3RVJfbmZ4wgZS3aaf9NoHevCvSWGtM_&Key-Pair-Id=APKAJ62XWKZ35EOVO4XA",
              "duration": "9[...]
- request:
    method: get
    uri: https://api.zinc.io/v1/products/B07G4MNFS1/offers?retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"363977c0740a16c8138888c255f935abafbd424d"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "timestamp": 1584560409,
          "status": "completed",
          "offers": [
            {
              "seller": {
                "name": "Huppins",
                "id": "AAK72K4OIWDXL",
                "num_ratings": 24942,
                "percent_positive": 100,
                "first_party": false
              },
              "coupon_discount_percent": null,
              "coupon_discount_fixed": null,
              "offer_id": "XNnCfYq00370OY6dAg8fm7RdwQdTssOrwgK55KE7bDQT%2FXmeBIjeNxGAZZm0F954jOoBZkgqsUVY44N%2BY0Q4GEXA8mlvigbyo385ErgD%2BhzTbrY%2BIU8inlpTKjpDoQ18oR4t7fQJy%2FDJ7nVte5HNEKtg4mVINzgR9hokLBPRhY53jYcj58Rn4g%3D%3D",
              "price": 27800,
              "currency": "USD",
              "available": true,
              "handling_days": {
                "min": 0,
                "max": 0
              },
              "marketplace_fulfilled": true,
              "fba_badge": true,
              "prime_badge": true,
              "shipping_options": [
                {
                  "delivery_days": {
                    "min": 4,
                    "max": 4
                  },
                  "greytext": "Want it delivered Sunday, March 22? Choose Two-Day Shipping at checkout.",
                  "price": 0,
                  "name": "two-day"
                }
              ],
              "condition": "New",
              "minimum_quantity": null,
              "prime_only": false,
              "addon": false,
              "comments": null,
              "greytext": "Want it delivered Sunday, March 22?",
              "known_greytext": true,
              "international": false,
              "expired_product_id": false,
              "asin": "B07G4MNFS1",
              "buy_box_winner": null
            },
            {
              "seller": {
                "name": "US-Appliance",
                "id": "A24MPJ9S1XC8EX",
                "num_ratings": 3084,
                "percent_positive": 96,
                "first_party": false
              },
              "coupon_discount_percent": null,
              "coupon_discount_fixed": null,
              "offer_id": "XNnCfYq00370OY6dAg8fm7RdwQdTssOrVXwLADZfPWbkT1y92pwJ3fczU9P%2FydMY2f8dGqI8bXJIRBxVBN3BIPLtKWKhhW1skiSctZ8dEbj[...]
- request:
    method: get
    uri: https://api.zinc.io/v1/products/B07P8MQHSH?retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2d8f837663b91e32a43238668330318f82d9f427"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "timestamp": [...]
- request:
    method: get
    uri: https://api.zinc.io/v1/products/B07P8MQHSH/offers?retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"81e5e118576ff5540512a399e1e5fcc368e9e462"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "times[...]
