---
http_interactions:
- request:
    method: get
    uri: https://api.zinc.io/v1/products/B07G4MNFS1?retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"96d5fc860b93556dcafbef80f2f42e45c8548b91"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "timestamp": 1584561081,
          "status": "completed",
          "feature_bullets": [
            "Digital Noise Canceling: Industry Leading Anc Lends a Personalized, Virtually Soundproof Experience",
            "Voice Assistant: Alexa Enabled for Voice Access to Music, Information and More. Activate with a Simple Touch",
            "Quick Attention Mode: Cover the Right Ear Cup to Turn Down Your Music for Instant, Easy Conversation",
            "Smart Listening: Adjusts the Ambient Sound to Your Activity to Give You the Best Noise Cancellation",
            "Touch Controls: Control Music Tracks and Volume, Activate Your Voice Assistant and Take Phone Calls",
            "Long Battery Life: A Single Charge Provides Up to 30 Hrs of Playtime for Reliable All Day Listening",
            "Comfortable to Wear: Ergonomically Redesigned Foldable Earphones for Easy Travel / Listening Comfort",
            "In the Box: Foldable Headphone, Carry Case, Charging Cable and Audio Cable for a Wired Connection"
          ],
          "title": "Sony Noise Cancelling Headphones WH1000XM3: Wireless Bluetooth Over the Ear Headphones with Mic and Alexa voice control - Industry Leading Active Noise Cancellation - Black",
          "meta_keywords": "Sony Noise Cancelling Headphones WH1000XM3: Wireless Bluetooth Over the Ear Headphones with Mic and Alexa voice control - Industry Leading Active Noise Cancellation - Black,Sony,WH1000XM3/B",
          "videos": [
            {
              "url": "https://d1y6jrbzotnyjg.cloudfront.net/DII1K/50468b34d3e74527a25d5aad0f6e9b9e/V61/2b5b249e13cc41f2bad72229761b8e87/ShortForm-Generic-480p-16-9-1409173089793-rpcbe5.mp4?Expires=1585164861&Signature=HOlRHE9lLu-F8MW2by1O4s0ohjBz14r2sprvMmWwnEdI53IXUPuaNxT-df91lsk3FbIUA9KcJEyvSp2WWEIxDuHMyd9E~qgVgp3uJ6HCmeJcEE0baOGX8IxjE24MJU1g-Nl-nyDh7MRkbR~AmbhE-LrVmr-nUBEIUAg2SE5v0E4_&Key-Pair-Id=APKAJ62XWKZ35EOVO4XA",
              "duration": "4:37",
              "vendor": "Digital Trends"
            },
            {
              "url": "https://d1y6jrbzotnyjg.cloudfront.net/DII1K/a504ffa8a4ce4cae9d2541da9cfb46af/V1/7ed4bd68353f415588f0a9d7dce91d92/ShortForm-Generic-480p-16-9-1409173089793-rpcbe5.mp4?Expires=1585165568&Signature=GFOzyf4Rnb11ynL49qK~C3q~0Ohd~gA1JLnLMvvWkk7zw0TxOqVKMLLE3JosgRyA0q95S-ZNZqBDxwRJqQ4~Ujfe7wAJJJs1Vvgr6jNe8YF0QwBKRA5q475y4hdQhBdYhUHhX90oRqTPXvg3tzyNGf9k1emYWhOJJl5aVGtPl3A_&Key-Pair-Id=APKAJ62XWKZ35EOVO4XA",
              "duration": "9[...]
- request:
    method: get
    uri: https://api.zinc.io/v1/products/B07G4MNFS1/offers?retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"05f9c0f30a5762fd6a272a48bfdd84b4cb35bdcb"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "timestamp": 1584561085,
          "status": "completed",
          "offers": [
            {
              "seller": {
                "name": "HAWTHORNE",
                "id": "A3CXCUO4TQ7GJP",
                "num_ratings": 2435,
                "percent_positive": 96,
                "first_party": false
              },
              "coupon_discount_percent": null,
              "coupon_discount_fixed": null,
              "offer_id": "Mh5yz70tVvIP2q3IgIELGNI01PQ%2FJdicREeVljH5CKEavvrLy6uQWwTOl59Pb3iLxoeKd3X85Y6MswjxJzl1TE%2Bs%2F5%2FZLmrMtw41ZWoc5LFcPpufHWnDLSl5ApfSiygIDUFLirCJL%2FQKe9zrFkDq3ldEDzwn8sJd9P%2FM0r6ZwgriIT%2BglImn1K0vpPUfjQf1",
              "price": 27800,
              "currency": "USD",
              "available": true,
              "handling_days": {
                "min": 0,
                "max": 0
              },
              "marketplace_fulfilled": true,
              "fba_badge": true,
              "prime_badge": true,
              "shipping_options": [
                {
                  "delivery_days": {
                    "min": 3,
                    "max": 3
                  },
                  "greytext": "Want it delivered Saturday, March 21?",
                  "price": 0,
                  "name": null
                }
              ],
              "condition": "New",
              "minimum_quantity": null,
              "prime_only": false,
              "addon": false,
              "comments": null,
              "greytext": "Want it delivered Saturday, March 21?",
              "known_greytext": true,
              "international": false,
              "expired_product_id": false,
              "asin": "B07G4MNFS1",
              "buy_box_winner": null
            },
            {
              "seller": {
                "name": "Video & Audio  Center - Same Day Shipping",
                "id": "A13ACIRM091OJE",
                "num_ratings": 60354,
                "percent_positive": 95,
                "first_party": false
              },
              "coupon_discount_percent": null,
              "coupon_discount_fixed": null,
              "offer_id": "Mh5yz70tVvIP2q3IgIELGNI01PQ%2FJdicfNHtNxa9zCpyMlPtfnt6Dq0Pd95Iv6tiR%2B3tAcO37YB[...]
