---
http_interactions:
- request:
    method: get
    uri: https://api.zinc.io/v1/products/B07G4MNFS1?retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"36bbbbf76175dc7f27b95b30417eacd0618029cf"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "timestamp": 1584563176,
          "status": "completed",
          "feature_bullets": [
            "Digital Noise Canceling: Industry Leading Anc Lends a Personalized, Virtually Soundproof Experience",
            "Voice Assistant: Alexa Enabled for Voice Access to Music, Information and More. Activate with a Simple Touch",
            "Quick Attention Mode: Cover the Right Ear Cup to Turn Down Your Music for Instant, Easy Conversation",
            "Smart Listening: Adjusts the Ambient Sound to Your Activity to Give You the Best Noise Cancellation",
            "Touch Controls: Control Music Tracks and Volume, Activate Your Voice Assistant and Take Phone Calls",
            "Long Battery Life: A Single Charge Provides Up to 30 Hrs of Playtime for Reliable All Day Listening",
            "Comfortable to Wear: Ergonomically Redesigned Foldable Earphones for Easy Travel / Listening Comfort",
            "In the Box: Foldable Headphone, Carry Case, Charging Cable and Audio Cable for a Wired Connection"
          ],
          "title": "Sony Noise Cancelling Headphones WH1000XM3: Wireless Bluetooth Over the Ear Headphones with Mic and Alexa voice control - Industry Leading Active Noise Cancellation - Black",
          "meta_keywords": "Sony Noise Cancelling Headphones WH1000XM3: Wireless Bluetooth Over the Ear Headphones with Mic and Alexa voice control - Industry Leading Active Noise Cancellation - Black,Sony,WH1000XM3/B",
          "videos": [
            {
              "url": "https://d1y6jrbzotnyjg.cloudfront.net/DII1K/50468b34d3e74527a25d5aad0f6e9b9e/V61/2b5b249e13cc41f2bad72229761b8e87/ShortForm-Generic-480p-16-9-1409173089793-rpcbe5.mp4?Expires=1585167589&Signature=bxJpscvfIxwADg90nIKimTpG3dVew4tY9Xdld8rVdBhi9-GWrSg100YycfZ2R8WyEeMc78PFCKH1qd0-KVntqCsxyASaFVWiU3~BBKOOwgFud3YgNfoZHI-xaKsbIfKoPUiJzmR8gcPbTCJXQXUKpyaF-p4Wg1ibtZP~AYebsHU_&Key-Pair-Id=APKAJ62XWKZ35EOVO4XA",
              "duration": "4:37",
              "vendor": "Digital Trends"
            },
            {
              "url": "https://d1y6jrbzotnyjg.cloudfront.net/DII1K/a504ffa8a4ce4cae9d2541da9cfb46af/V1/7ed4bd68353f415588f0a9d7dce91d92/ShortForm-Generic-480p-16-9-1409173089793-rpcbe5.mp4?Expires=1585167377&Signature=dCQKIJcujEjpbjIn9mc9Zf~W7h90M8fw3ScWhn0GHhUmCovDYCpjnJ27j52ew1D10BIeFDoUY-VihycJjbCSTNGMSrxY-U5kRtHHQy6OB9HIt4GCCqYItjaWNGshWM42OMYBoYbiZIJqcCu42YzS~Z8vdayVF1VwEgB6U1zt89o_&Key-Pair-Id=APKAJ62XWKZ35EOVO4XA",
              "duration": "9[...]
- request:
    method: get
    uri: https://api.zinc.io/v1/products/B07G4MNFS1/offers?retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7b498f2c16c275db4f84177e5172a6221bf92221"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "timestamp": 1584563601,
          "status": "completed",
          "retailer": "amazon",
          "offers": [
            {
              "seller": {
                "num_ratings": 25,
                "percent_positive": 94,
                "feedback_bucket": "90-94%",
                "name": "unknown",
                "id": "unknown-7864188",
                "first_party": false
              },
              "num_offers_in_group": 1,
              "offer_id": "B07G4MNFS1-55357663",
              "price": 19448,
              "currency": "USD",
              "available": true,
              "handling_days": {
                "min": 0,
                "max": 0
              },
              "international": false,
              "marketplace_fulfilled": false,
              "shipping_options": [
                {
                  "price": 549,
                  "delivery_days": {
                    "min": 0,
                    "max": 2
                  }
                }
              ],
              "condition": "Used",
              "digital": null,
              "pantry": null
            },
            {
              "seller": {
                "num_ratings": 3274,
                "percent_positive": 89,
                "feedback_bucket": "80-89%",
                "name": "unknown",
                "id": "unknown-6980032",
                "first_party": false
              },
              "num_offers_in_group": 1,
              "offer_id": "B07G4MNFS1-61108882",
              "price": 19999,
              "currency": "USD",
              "available": true,
  [...]
- request:
    method: get
    uri: https://api.zinc.io/v1/products/B07P8MQHSH?retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a70131388da6a49cb023edb5f4e676b48c98a157"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "timestamp": [...]
- request:
    method: get
    uri: https://api.zinc.io/v1/products/B07P8MQHSH/offers?retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"504eff5d0cc29073860daaa0406c91af5d28b317"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "timestamp": 1584563192,
          "status": "completed",
          "offers": [
            {
              "seller": {
                "name": "TTP Retail",
                "id": "ANIVUW1SREVVT",
                "num_ratings": 4951,
                "percent_positive": 97,
                "first_party": false
              },
              "coupon_discount_percent": null,
              "coupon_discount_fixed": null,
              "offer_id": "mTWpALl8qUgepvV48tB8%2BXthHBB%2BayGoxPa8suGPF0N36G9NwpsneDjCSHAshgGts%2Ba2wwNaIbCpva1T4pnfdAFlsXolSU75ZZIstH9hx0ZP%2BsiCNPGZsMJtA3fwSqpIPMJmXhoIx%2Bm2xo6aPGk7ypdZzORj30f24ov5F9idYgJYNoW4zO4BGJY4V30780Vs",
              "price": 42299,
              "currency": "USD",
              "available": true,
              "handling_days": {
                "min": 0,
                "max": 0
              },
              "marketplace_fulfilled": true,
              "fba_badge": true,
              "prime_badge": true,
              "shipping_options": [
                {
                  "delivery_days": {
                    "min": 3,
                    "max": 3
                  },
                  "greytext": "Want it delivered Saturday, March 21?",
                  "price": 0,
                  "name": null
                }
              ],
              "condition": "New",
              "minimum_quantity": null,
              "prime_only": false,
              "addon": false,
              "comments": null,
              "greytext": "Want it delivered Saturday, March 21?",
              "known_greytext": true,
              "international": false,
              "expired_product_id": false,
              "asin": "B07P8MQHSH",
              "buy_box_winner": null
            },
            {
              "seller": {
                "name": "USA Supply Source",
                "id": "AQD8CSXUPVRAZ",
                "num_ratings": 13667,
                "percent_positive": 95,
                "first_party": false
              },
              "coupon_discount_percent": null,
              "coupon_discount_fixed": null,
              "offer_id": "mTWpALl8qUgepvV48tB8%2BXthHBB%2BayGofBhrL2yANn1mp1PoZIu8kXN7UxjXluRRa8OaTd7qZFiu%2FrT%2FRGpwSGE4X6X1%2Bd[...]
