---
http_interactions:
- request:
    method: get
    uri: https://api.zinc.io/v1/products/B07G4MNFS1?retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9706960430c47364b8e3975755d3b41fc10323bd"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "timestamp": 1584605261,
          "status": "completed",
          "feature_bullets": [
            "Digital Noise Canceling: Industry Leading Anc Lends a Personalized, Virtually Soundproof Experience",
            "Voice Assistant: Alexa Enabled for Voice Access to Music, Information and More. Activate with a Simple Touch",
            "Quick Attention Mode: Cover the Right Ear Cup to Turn Down Your Music for Instant, Easy Conversation",
            "Smart Listening: Adjusts the Ambient Sound to Your Activity to Give You the Best Noise Cancellation",
            "Touch Controls: Control Music Tracks and Volume, Activate Your Voice Assistant and Take Phone Calls",
            "Long Battery Life: A Single Charge Provides Up to 30 Hrs of Playtime for Reliable All Day Listening",
            "Comfortable to Wear: Ergonomically Redesigned Foldable Earphones for Easy Travel / Listening Comfort",
            "In the Box: Foldable Headphone, Carry Case, Charging Cable and Audio Cable for a Wired Connection"
          ],
          "title": "Sony Noise Cancelling Headphones WH1000XM3: Wireless Bluetooth Over the Ear Headphones with Mic and Alexa voice control - Industry Leading Active Noise Cancellation - Black",
          "meta_keywords": "Sony Noise Cancelling Headphones WH1000XM3: Wireless Bluetooth Over the Ear Headphones with Mic and Alexa voice control - Industry Leading Active Noise Cancellation - Black,Sony,WH1000XM3/B",
          "videos": [
            {
              "url": "https://d1y6jrbzotnyjg.cloudfront.net/DII1K/50468b34d3e74527a25d5aad0f6e9b9e/V61/2b5b249e13cc41f2bad72229761b8e87/ShortForm-Generic-480p-16-9-1409173089793-rpcbe5.mp4?Expires=1585209154&Signature=AlblVDe3VM3nLxvtG83DPR5qeQcvZ1zgjBlrFNvld8ZU2sWEmrRqyOhLyaxX9I-AHNKBw~bBY~hdnU4WonNa6nVZUe9hfYddZTTEFryuzrlYfKE9u3rxaC4wlarr0krAwq13Skr91mcTFK9Y9lFfksUDzIzLq6HyJqopzGZCsiQ_&Key-Pair-Id=APKAJ62XWKZ35EOVO4XA",
              "duration": "4:37",
              "vendor": "Digital Trends"
            },
            {
              "url": "https://d1y6jrbzotnyjg.cloudfront.net/DII1K/a504ffa8a4ce4cae9d2541da9cfb46af/V1/7ed4bd68353f415588f0a9d7dce91d92/ShortForm-Generic-480p-16-9-1409173089793-rpcbe5.mp4?Expires=1585209848&Signature=cbvVlnOX5~2Pr1gOFqaQ4NvRIK140sy~cv80CFCKzCXqkIsd~JlOmnwhBI9sFmfz2Vw~fIPjGb40m2PICJAsQoJpg5fKj5I8JzWQqLCpu7rEOY5r3nCK-vViOLQIAdvqIyu5JvEU7eQvPEP-bjyccq7DDIZ81Z5PUaducIQiq3s_&Key-Pair-Id=APKAJ62XWKZ35EOVO4XA",
              "duration": "9[...]
- request:
    method: get
    uri: https://api.zinc.io/v1/products/B07G4MNFS1/offers?retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"55dcaad55f0c35b2029b1b77ceed833147eddf00"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "timestamp": 1584605265,
          "status": "completed",
          "offers": [
            {
              "seller": {
                "name": "Walts TV",
                "id": "A2K7RN1DSQCI9O",
                "num_ratings": 5160,
                "percent_positive": 96,
                "first_party": false
              },
              "coupon_discount_percent": null,
              "coupon_discount_fixed": null,
              "offer_id": "GBvg3IPvjlB7bJFtT9epp1boDWx3f7YkIC1RnXyYmeDgXE1b2nijeJjXNQWWRsPPmU%2BRYQqomiNrWKHXYu7wmsbCa9T6e5k1KnipB9IGOwEMrCgucjzqTUeCm1G4%2B8UWTtk%2BpWPkVYs6HOGwn1M9PJwJJm1PGPQ8zQii4FQnBCsfaXcRlEMwhp%2BeEfBto%2FXS",
              "price": 27800,
              "currency": "USD",
              "available": true,
              "handling_days": {
                "min": 0,
                "max": 0
              },
              "marketplace_fulfilled": true,
              "fba_badge": true,
              "prime_badge": true,
              "shipping_options": [
                {
                  "delivery_days": {
                    "min": 6,
                    "max": 6
                  },
                  "greytext": "Want it delivered Tuesday, March 24? Choose Two-Day Shipping at checkout.",
                  "price": 0,
                  "name": "two-day"
                }
              ],
              "condition": "New",
              "minimum_quantity": null,
              "prime_only": false,
              "addon": false,
              "comments": null,
              "greytext": "Want it delivered Tuesday, March 24?",
              "known_greytext": true,
              "international": false,
              "expired_product_id": false,
              "asin": "B07G4MNFS1",
              "buy_box_winner": null
            },
            {
              "seller": {
                "name": "OneCall",
                "id": "AHF4SYKP09WBH",
                "num_ratings": 55765,
                "percent_positive": 100,
                "first_party": false
              },
              "coupon_discount_percent": null,
              "coupon_discount_fixed": null,
              "offer_id": "GBvg3IPvjlB7bJFtT9epp1boDWx3f7YkubQE4TbzZzMgGKGx1qJSoSexh9RrsJb46uChIGtIn9n4opPIBDryGptQ%2F6%2Fj5lxNZUkwMskJF57CM[...]
- request:
    method: get
    uri: https://api.zinc.io/v1/products/B07P8MQHSH?retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2088b24db8a00c2adbb0fbd42cfb4e0f5e5c6c9e"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "timestamp": [...]
- request:
    method: get
    uri: https://api.zinc.io/v1/products/B07P8MQHSH/offers?retailer=amazon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NkY4NDRFM0JEQzc2Qzc5MTBEQTk3NDRGOg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7bb43fed46a4e18d4154f743241bb6b3a0760500"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "times[...]
