<div class="card">
  <img class="card-img-top product-image"
       src="<%= product.main_image %>" alt="<%= product.title %>"
       style="height: 250px;">
  <div class="card-body">
    <a class="card-title small stretched-link text-decoration-none mb-1" >
      <%= product.title %>
    </a>

    <dl class="row small mb-0">
      <dd class="col-8">Price:</dd>
      <dd class="col-4 text-right">
        <%= number_to_currency(product.price) %>
      </dd>
    </dl>
  </div>
</div>