<div class="container">

  <div class="row mt-3">
    <div class="col-lg-12">
      <h3>Showing results for <em><%= params[:query] %></em></h3>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mx-auto">
      <ul class="list-unstyled">
        <%= render(@products) ||
                content_tag(:li,
                            "No results for #{params[:query]} on #{params[:retailer]&.titleize}.",
                            class: 'media border-bottom py-3') %>
      </ul>
    </div>
  </div>

</div>