
<body class="d-flex flex-column h-100">
<!-- Just an image -->
    
      <!-- Begin page content -->
  <main role="main" class="flex-shrink-0">
    <div class="container">
      <h1 class="mt-5">Thanks for shopping with us!</h1>
      <p class="lead">For your receipt, check out the confirmation email our payment processor will sent to <%= @product.email %></p>
      <p class="lead">Please call or whatsapp ProcureSwift on (+233) 54 140 0077 with your refrence number and name for an update on your order.</p>
      <p class="lead">Your refrence number is <strong><%= @product.txtref %></strong></p>
      <p>Click <a href="/">here</a> to go back.</p>
    </div>
  </main>
</body>
</html>